# Local Backup
backup/

# Adobe Premiere Pro files
**/Adobe Premiere Pro Audio Previews/
**/Adobe Premiere Pro Auto-Save/
*.prproj
*.prin
*.prel

# Ignore raw/temp folders not needed for the web page
criativos/
VSL/
scratch/
